@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #050505;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
